/* Global style - red background */
html, body, #root, .app-root {
  height: 100%;
  margin: 0;
}
.app-root {
  /* background: #ff0000; */
  color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  font-family: 'Cairo', sans-serif !important;
}

@font-face {
  font-family: cairo;
  src: url('/public/font/Cairo-VariableFont_slnt\,wght.ttf');
  font-weight: 400;font-size: 16px;
}